In [1]:
import pandas as pd
import numpy as np


loan_dataset = pd.read_csv('./loan.csv')
#print(census.at[15,'Illiterate_Females']/census.at[15,'Total_Females'])
loan_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

C:\Users\rgangadh\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
loan_dataset.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [17]:
loan_nulls = loan_dataset.isnull().sum()
loan_nulls_percent = round(100*(loan_dataset.isnull().sum()/len(loan_dataset.index)), 2)
#loan_nulls_percent

loan_nulls_detials = pd.concat([loan_nulls, loan_nulls_percent], axis=1)
loan_nulls_detials

                                    0       1
id                                  0    0.00
member_id                           0    0.00
loan_amnt                           0    0.00
funded_amnt                         0    0.00
funded_amnt_inv                     0    0.00
term                                0    0.00
int_rate                            0    0.00
installment                         0    0.00
grade                               0    0.00
sub_grade                           0    0.00
emp_title                        2459    6.19
emp_length                       1075    2.71
home_ownership                      0    0.00
annual_inc                          0    0.00
verification_status                 0    0.00
issue_d                             0    0.00
loan_status                         0    0.00
pymnt_plan                          0    0.00
url                                 0    0.00
desc                            12940   32.58
purpose                             0    0.00
title                              11    0.03
zip_code                            0    0.00
addr_state                          0    0.00
dti                                 0    0.00
delinq_2yrs                         0    0.00
earliest_cr_line                    0    0.00
inq_last_6mths                      0    0.00
mths_since_last_delinq          25682   64.66
mths_since_last_record          36931   92.99
...                               ...     ...
mo_sin_old_rev_tl_op            39717  100.00
mo_sin_rcnt_rev_tl_op           39717  100.00
mo_sin_rcnt_tl                  39717  100.00
mort_acc                        39717  100.00
mths_since_recent_bc            39717  100.00
mths_since_recent_bc_dlq        39717  100.00
mths_since_recent_inq           39717  100.00
mths_since_recent_revol_delinq  39717  100.00
num_accts_ever_120_pd           39717  100.00
num_actv_bc_tl                  39717  100.00
num_actv_rev_tl                 39717  100.00
num_bc_sats                     39717  100.00
num_bc_tl                       39717  100.00
num_il_tl                       39717  100.00
num_op_rev_tl                   39717  100.00
num_rev_accts                   39717  100.00
num_rev_tl_bal_gt_0             39717  100.00
num_sats                        39717  100.00
num_tl_120dpd_2m                39717  100.00
num_tl_30dpd                    39717  100.00
num_tl_90g_dpd_24m              39717  100.00
num_tl_op_past_12m              39717  100.00
pct_tl_nvr_dlq                  39717  100.00
percent_bc_gt_75                39717  100.00
pub_rec_bankruptcies              697    1.75
tax_liens                          39    0.10
tot_hi_cred_lim                 39717  100.00
total_bal_ex_mort               39717  100.00
total_bc_limit                  39717  100.00
total_il_high_credit_limit      39717  100.00

[111 rows x 2 columns]

In [41]:
loan_nulls_detials.to_csv('out.csv')

In [21]:
loan_nulls_detials.columns

RangeIndex(start=0, stop=2, step=1)

In [37]:
loan_nulls_detials.rename(columns={0: 'Column_Name'}, inplace=True)

In [40]:
loan_nulls_detials

                                No_of_Nulls  Percent_of_Nulls
id                                        0              0.00
member_id                                 0              0.00
loan_amnt                                 0              0.00
funded_amnt                               0              0.00
funded_amnt_inv                           0              0.00
term                                      0              0.00
int_rate                                  0              0.00
installment                               0              0.00
grade                                     0              0.00
sub_grade                                 0              0.00
emp_title                              2459              6.19
emp_length                             1075              2.71
home_ownership                            0              0.00
annual_inc                                0              0.00
verification_status                       0              0.00
issue_d                                   0              0.00
loan_status                               0              0.00
pymnt_plan                                0              0.00
url                                       0              0.00
desc                                  12940             32.58
purpose                                   0              0.00
title                                    11              0.03
zip_code                                  0              0.00
addr_state                                0              0.00
dti                                       0              0.00
delinq_2yrs                               0              0.00
earliest_cr_line                          0              0.00
inq_last_6mths                            0              0.00
mths_since_last_delinq                25682             64.66
mths_since_last_record                36931             92.99
...                                     ...               ...
mo_sin_old_rev_tl_op                  39717            100.00
mo_sin_rcnt_rev_tl_op                 39717            100.00
mo_sin_rcnt_tl                        39717            100.00
mort_acc                              39717            100.00
mths_since_recent_bc                  39717            100.00
mths_since_recent_bc_dlq              39717            100.00
mths_since_recent_inq                 39717            100.00
mths_since_recent_revol_delinq        39717            100.00
num_accts_ever_120_pd                 39717            100.00
num_actv_bc_tl                        39717            100.00
num_actv_rev_tl                       39717            100.00
num_bc_sats                           39717            100.00
num_bc_tl                             39717            100.00
num_il_tl                             39717            100.00
num_op_rev_tl                         39717            100.00
num_rev_accts                         39717            100.00
num_rev_tl_bal_gt_0                   39717            100.00
num_sats                              39717            100.00
num_tl_120dpd_2m                      39717            100.00
num_tl_30dpd                          39717            100.00
num_tl_90g_dpd_24m                    39717            100.00
num_tl_op_past_12m                    39717            100.00
pct_tl_nvr_dlq                        39717            100.00
percent_bc_gt_75                      39717            100.00
pub_rec_bankruptcies                    697              1.75
tax_liens                                39              0.10
tot_hi_cred_lim                       39717            100.00
total_bal_ex_mort                     39717            100.00
total_bc_limit                        39717            100.00
total_il_high_credit_limit            39717            100.00

[111 rows x 2 columns]

In [2]:
loan_dataset_cleaned = loan_dataset.dropna(thresh = len(loan_dataset) * .1, axis = 1)
#df.dropna(thresh = thresh, axis = 1, inplace = True)
#loan_dataset.isnull().sum(axis=0) != 39717

In [66]:
loan_dataset_cleaned

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,...,NaN,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,...,NaN,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8,1071795,1306957,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,...,NaN,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9,1071570,1306721,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,...,NaN,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,...,NaN,Dec-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,...,NaN,Aug-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
12,1064687,1298717,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,...,NaN,Nov-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
14,1069057,1303503,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,...,NaN,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,...,NaN,Apr-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,...,NaN,May-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,NaN,Jul-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,...,NaN,Feb-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,...,NaN,Mar-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
21,1039153,1269083,21000,21000,21000.00000,36 months,12.42%,701.73,B,B4,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,...,NaN,Mar-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
24,1069559,1304634,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,...,NaN,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,...,NaN,Sep-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
26,1069800,1304679,15000,15000,8725.00000,36 months,14.27%,514.64,C,C2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
27,1069657,1304764,5000,5000,5000.00000,60 months,16.77%,123.65,D,D2,...,NaN,May-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,...,NaN,Jan-15,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39687,111307,105982,12000,12000,2500.00000,36 months,12.49%,401.37,D,D3,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39688,111227,111223,20000,20000,2800.00000,36 months,13.43%,678.08,E,E1,...,NaN,May-16,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39689,109355,109346,1200,1200,0.00000,36 months,11.54%,39.60,C,C5,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39690,107136,107130,12250,12250,1525.00000,36 months,10.59%,398.69,C,C2,...,NaN,Jul-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39691,106360,106333,2700,2700,550.00000,36 months,15.96%,94.88,F,F4,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39692,76597,76583,5000,5000,1775.00000,36 months,9.01%,159.03,B,B2,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39693,106079,106039,3500,3500,1200.00000,36 months,9.96%,112.87,B,B5,...,NaN,May-16,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39694,90966,90962,5000,5000,4150.00000,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39695,92440,92423,5000,5000,3100.00000,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39696,102376,95212,25000,25000,525.00000,36 months,10.59%,813.65,C,C2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39697,101579,100083,10000,10000,400.00000,36 months,10.28%,323.98,C,C1,...,NaN,Oct-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39698,98982,98957,5000,5000,675.00000,36 months,9.01%,159.03,B,B2,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39699,98339,97572,5100,5100,575.00000,36 months,8.38%,160.72,A,A5,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39700,98276,98268,5400,5400,200.00000,36 months,7.75%,168.60,A,A3,...,NaN,Dec-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39701,96844,95222,5300,5300,600.00000,36 months,8.38%,167.02,A,A5,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39702,96350,96338,5000,5000,850.00000,36 months,11.22%,164.23,C,C4,...,NaN,Oct-12,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39703,94838,73673,3000,3000,2550.00000,36 months,10.28%,97.20,C,C1,...,NaN,Feb-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39704,93277,93254,3000,3000,950.00000,36 months,8.70%,94.98,B,B1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39705,93061,93057,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39706,92676,92671,5000,5000,150.00000,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39707,92666,92661,5000,5000,525.00000,36 months,9.33%,159.77,B,B3,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39708,92552,92542,5000,5000,375.00000,36 months,9.96%,161.25,B,B5,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39709,92533,92529,5000,5000,675.00000,36 months,11.22%,164.23,C,C4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39710,92507,92502,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39711,92402,92390,5000,5000,700.00000,36 months,8.70%,158.30,B,B1,...,NaN,Nov-14,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39712,92187,92174,2500,2500,1075.00000,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.00000,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.00000,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.00000,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.00000,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [3]:
round(100*(loan_dataset_cleaned.isnull().sum()/len(loan_dataset_cleaned.index)), 2)

id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.71
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.58
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
mths_since_last_delinq        64.66
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.14
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.14
delinq_amnt                    0.00
pub_rec_bankruptcies           1.75
tax_liens                      0.10
dtype: float64

In [80]:
loan_dataset_cleaned.to_csv('loan_dataset_cleaned.csv')

In [4]:
loan_dataset_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 55 columns):
id                            39717 non-null int64
member_id                     39717 non-null int64
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null object
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_title                     37258 non-null object
emp_length                    38642 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null object
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
url                           39717 non-null object
desc                          26777 non-null object
purpose                       39717 non-null object
title                         39706 non-null object
zip_code                      39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null object
inq_last_6mths                39717 non-null int64
mths_since_last_delinq        14035 non-null float64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39667 non-null object
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39646 non-null object
last_pymnt_amnt               39717 non-null float64
last_credit_pull_d            39715 non-null object
collections_12_mths_ex_med    39661 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39661 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39020 non-null float64
tax_liens                     39678 non-null float64
dtypes: float64(19), int64(13), object(23)
memory usage: 16.7+ MB